* {
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
section aside:before,
section aside:after {
  content: '';
  display: table;
}
section aside:after {
  clear: both;
}
section aside:last-child {
  margin-right: 0%;
}
section article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
section article:before,
section article:after {
  content: '';
  display: table;
}
section article:after {
  clear: both;
}
section article:last-child {
  margin-right: 0%;
}
